APP_NAME="SIGP Admin"
APP_ENV=production
APP_KEY=base64:+jxX29bdmF4tmWlkEjXRPA3pTSv5PhajWkSehOpcZBU=
APP_DEBUG=false
APP_TIMEZONE=Africa/Luanda
APP_URL=https://painel.sigp-angola.com

APP_LOCALE=pt
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_PT

# Configurações de Banco de Dados (No Easypanel, DB_HOST é o nome do serviço MySQL, ex: mysql)
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=sigp_admin
DB_USERNAME=root
DB_PASSWORD=SUA_SENHA_DO_MYSQL_NO_EASYPANEL
DB_COLLATION=utf8mb4_unicode_ci

# Sessões, Cache e Filas
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=error

# WHM / cPanel Integration
WHM_HOST=sigp-angola.com
WHM_USER=root
WHM_TOKEN=GJR2UV2WVY61IS6NKFXFKJ2YOK9E0VLH
CPANEL_USER=sigpangola
WHM_PROTOCOL=https
WHM_PORT=2087
WHM_SSL_VERIFY=true
WHM_STRICT=true

PHP_BIN=/usr/bin/php
COMPOSER_BIN=/usr/bin/composer
NPM_BIN=npm
RUN_NPM=false

# Seeders & paths
RUN_SEEDERS=false
SEEDER_CLASS=DatabaseSeeder
BASE_APP_PATH=/var/www/html/base_app
PORTOS_DIR=/var/www/html/portos/

PORTO_ENABLE_SYSTEMD=false
PORTO_RUN_USER=www-data
GIT_REPO_BASE_APP=https://github.com/ManuelNeto280690/14440acconting.git
GIT_BRANCH=main

# Email / SMTP
MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="no-reply@sigp-angola.com"
MAIL_FROM_NAME="${APP_NAME}"
